@import "../../global.scss";
.item-wrapper {
    width: 800px;
    height: 480px;
    background: white;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;
    &:hover {
        transform: scale(1);
        box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
    }
    .item-container {
        width: 100%;
        height: 100%;
        background-color: $greyColor;
        overflow: hidden;
        .top {
            height: 80%;
            width: 100%;
            -webkit-background-size: 100%;
            -moz-background-size: 100%;
            -o-background-size: 100%;
            background-size: 100%;
        }
        .bottom {
            display: flex;
            align-items: center;
            text-align: center;
            overflow: hidden;
            padding: 25px;
            justify-content: space-between;
            h1 {
                color: white;
                font-size: 1.75em;
                @include mobile {
                    font-size: 18px;
                }
            }
            h2 {
                color: white;
            }
            .card-buttons {
                align-items: center;
                text-align: center;
                display: flex;
                .icon-link-small {
                    color: white;
                    font-size: 2rem;
                }
                .icon-link-small::before {
                    width: 4rem;
                    height: 4rem;
                    background-color: white;
                }
                .icon-link:hover {
                    color: black;
                }
                .github {
                    margin-right: 20px;
                    @include mobile {
                        margin-right: 10px;
                    }
                }
            }
        }
        .coming-soon-header {
            color: white;
            display: flex;
            height: 100%;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 52px;
        }
    }
    .inside {
        z-index: 9;
        background: $greyColor;
        width: 210px;
        height: 210px;
        position: absolute;
        top: -105px;
        right: -105px;
        border-radius: 0px 0px 200px 200px;
        transition: all 0.5s, border-radius 2s, top 1s;
        overflow: hidden;
        cursor: pointer;
        color: white;
        .information-icon {
            position: absolute;
            right: 130px;
            top: 130px;
            color: white;
            opacity: 1;
            font-size: 2rem;
        }
        &:hover {
            width: 100%;
            right: 0;
            top: 0;
            border-radius: 0;
            height: 80%;
            .information-icon {
                opacity: 0;
                right: 15px;
                top: 15px;
            }
            .contents {
                opacity: 1;
                transform: scale(1);
                transform: translateY(0);
            }
        }
        .contents {
            padding: 3%;
            opacity: 0;
            transform: scale(0.5);
            transform: translateY(-200%);
            transition: opacity 0.2s, transform 0.8s;
            color: white;
            .notion-button {
                width: 105px;
                height: 2.4em;
                font-size: 16px;
                @include mobile {
                    font-size: 12px;
                    width: 75px;
                }
                .icon {
                    height: 1.8em;
                }
            }
            table {
                text-align: left;
                width: 100%;
            }
            p {
                font-size: 14px;
                padding-bottom: 14px;
                @include mobile {
                    font-size: 11px;
                    padding-bottom: 8px;
                }
            }
            h3 {
                padding: 8px 0px 8px 0px;
                @include mobile {
                    font-size: 14px;
                }
            }
            td,
            tr {
                @include mobile {
                    font-size: 12px;
                }
            }
        }
    }
}